<form id="signUpForm" class="space-y-2" [formGroup]="registerForm" (ngSubmit)="registerFormHandler()">

  <div class="relative">
    <mat-icon
      class="absolute bottom-0 left-[5%] right-auto top-[26%] inline-block h-5 w-5 text-gray-500">person_outline</mat-icon>


    <input type="text" name="name"
      class="mb-4 block h-12 w-full border border-black bg-[#f2f2f7] px-6 py-6 pl-14 text-base text-[#333333]"
      placeholder="Full Name" formControlName="name" [class.border-red-500]="
        registerForm.get('name')?.invalid && registerForm.get('name')?.touched
      " />
  </div>

  <ng-container *ngIf="
      registerForm.get('name')?.invalid && registerForm.get('name')?.touched
    ">
    <div class="mt-2 text-sm text-red-600">
      <div *ngIf="registerForm.get('name')?.errors?.['required']">
        Name is required!
      </div>
      <div *ngIf="registerForm.get('name')?.errors?.['minlength']">
        Name should be at least 2 characters long.
      </div>
      <div *ngIf="registerForm.get('name')?.errors?.['maxlength']">
        Name should be at most 30 characters long.
      </div>
    </div>
  </ng-container>

  <div class="relative">
    <mat-icon
      class="absolute bottom-0 left-[5%] right-auto top-[26%] inline-block h-5 w-5 text-gray-500">mail_outline</mat-icon>

    <input type="email" name="email"
      class="mb-4 block h-12 w-full border border-black bg-[#f2f2f7] px-6 py-6 pl-14 text-base text-[#333333]"
      placeholder="Email Address" autocomplete="email" formControlName="email" [class.border-red-500]="
        registerForm.get('email')?.invalid && registerForm.get('email')?.touched
      " />
  </div>

  <ng-container *ngIf="
      registerForm.get('email')?.invalid && registerForm.get('email')?.touched
    ">
    <div class="mt-2 text-sm text-red-600">
      <div *ngIf="registerForm.get('email')?.errors?.['required']">
        Email is required!
      </div>
      <div *ngIf="registerForm.get('email')?.errors?.['invalidEmail']">
        Please enter a valid email address (example: user"&#64;"domain.com).
      </div>
    </div>
  </ng-container>

  <ng-container formGroupName="passGroup">
    <div class="relative">
      <mat-icon
        class="absolute bottom-0 left-[5%] right-auto top-[26%] inline-block h-5 w-5 text-gray-500">work_outline</mat-icon>

      <input data-testid="input-pass"
      [type]="showPassword ? 'text' : 'password'" name="password"
        class="password-input mb-4 block h-12 w-full border border-black bg-[#f2f2f7] px-6 py-6 pl-14 pr-12 text-base text-[#333333]"
        placeholder="Password (min 8 characters)" autocomplete="new-password" formControlName="password"
        [class.border-red-500]="
          registerForm.get('passGroup')?.get('password')?.invalid &&
          registerForm.get('passGroup')?.get('password')?.touched
        " />
      <button type="button"
        class="absolute right-3 top-0 bottom-0 my-auto h-fit bg-transparent border-none cursor-pointer p-1 flex items-center justify-center text-gray-500 hover:text-gray-700"
        (click)="togglePasswordVisibility()">
        <app-eye-icon [closed]="showPassword"></app-eye-icon>
      </button>
    </div>

    <div class="relative mb-4">
      <mat-icon
        class="absolute bottom-0 left-[5%] right-auto top-[26%] inline-block h-5 w-5 text-gray-500">work_outline</mat-icon>
      <input data-testid="input-repass"
      [type]="showConfirmPassword ? 'text' : 'password'" name="rePassword"
        class="password-input mb-4 block h-12 w-full border border-black bg-[#f2f2f7] px-6 py-6 pl-14 pr-12 text-base text-[#333333]"
        placeholder="Confirm Password" autocomplete="new-password" formControlName="rePassword" [class.border-red-500]="
          registerForm.get('passGroup')?.get('rePassword')?.invalid &&
          registerForm.get('passGroup')?.get('rePassword')?.touched
        " />
      <button type="button"
        class="absolute right-3 top-0 bottom-0 my-auto h-fit bg-transparent border-none cursor-pointer p-1 flex items-center justify-center text-gray-500 hover:text-gray-700"
        (click)="toggleConfirmPasswordVisibility()">
        <app-eye-icon [closed]="showConfirmPassword"></app-eye-icon>
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="
      registerForm.get('passGroup')?.get('password')?.invalid &&
      registerForm.get('passGroup')?.get('password')?.touched
    ">
    <div class="mt-2 text-sm text-red-600">
      <div *ngIf="registerForm.get('passGroup')?.get('password')?.errors?.['required']">
        Password is required!
      </div>

      <div *ngIf="registerForm.get('passGroup')?.get('password')?.errors?.['weakPassword']">
        Password is too weak. Please check the requirements below.
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="
      registerForm.get('passGroup')?.get('password')?.value && !isSubmitted
    ">
    <div class="text-sm font-medium text-gray-700 mb-2">
      Password Requirements:
    </div>

    <div class="space-y-1">
      <div class="requirement-item" [ngClass]="getPasswordDetails?.hasMinLength ? 'valid' : 'invalid'">
        <span class="requirement-icon" [ngClass]="getPasswordDetails?.hasMinLength ? 'valid' : 'invalid'"></span>
        <span class="requirement-text" [ngClass]="getPasswordDetails?.hasMinLength ? 'valid' : 'invalid'">
          At least 8 characters
        </span>
      </div>

      <div class="requirement-item" [ngClass]="getPasswordDetails?.hasUpper ? 'valid' : 'invalid'">
        <span class="requirement-icon" [ngClass]="getPasswordDetails?.hasUpper ? 'valid' : 'invalid'"></span>
        <span class="requirement-text" [ngClass]="getPasswordDetails?.hasUpper ? 'valid' : 'invalid'">
          One uppercase letter (A-Z)
        </span>
      </div>

      <div class="requirement-item" [ngClass]="getPasswordDetails?.hasLower ? 'valid' : 'invalid'">
        <span class="requirement-icon" [ngClass]="getPasswordDetails?.hasLower ? 'valid' : 'invalid'"></span>
        <span class="requirement-text" [ngClass]="getPasswordDetails?.hasLower ? 'valid' : 'invalid'">
          One lowercase letter (a-z)
        </span>
      </div>

      <div class="requirement-item" [ngClass]="getPasswordDetails?.hasNumber ? 'valid' : 'invalid'">
        <span class="requirement-icon" [ngClass]="getPasswordDetails?.hasNumber ? 'valid' : 'invalid'"></span>
        <span class="requirement-text" [ngClass]="getPasswordDetails?.hasNumber ? 'valid' : 'invalid'">
          One number (0-9)
        </span>
      </div>

      <div class="requirement-item" [ngClass]="getPasswordDetails?.hasSymbol ? 'valid' : 'invalid'">
        <span class="requirement-icon" [ngClass]="getPasswordDetails?.hasSymbol ? 'valid' : 'invalid'"></span>
        <span class="requirement-text" [ngClass]="getPasswordDetails?.hasSymbol ? 'valid' : 'invalid'">
          One special character (#?!"&#64;"$%^&*-.)
        </span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="
      registerForm.get('passGroup')?.get('rePassword')?.invalid &&
      registerForm.get('passGroup')?.get('rePassword')?.touched
    ">
    <div class="mt-2 text-sm text-red-600">
      <div *ngIf="registerForm.get('passGroup')?.get('rePassword')?.errors?.['required']">
        Confirm Password is required!
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="registerForm.get('passGroup')?.errors?.['passwordMismatch'] && 
           registerForm.get('passGroup')?.touched">
    <div class="mt-2 text-sm text-red-600">Passwords do not match!</div>
  </ng-container>


  <!-- Button -->
  <app-custom-button [disabled]="registerForm.invalid" [buttonClass]="
      'w-full flex items-center justify-center bg-[#276ef1] px-8 py-4 text-center font-semibold text-white transition [box-shadow:rgb(171,_196,_245)_-8px_8px] hover:[box-shadow:rgb(171,_196,_245)_0px_0px]'
    " [buttonText]="'Create Account'">

  </app-custom-button>
</form>