<div class="flex flex-col bg-white shadow-sm border border-slate-200 rounded-lg p-6 w-full max-w-sm mx-auto">

    <div class="text-center mb-6">
        <div class="w-24 h-24 mx-auto mb-4 overflow-hidden rounded-full">
            <img class="w-full h-full object-cover" src="../../../../assets/images/blog/blog-03.jpg" alt="profile" />
        </div>
        <h1 class="text-xl font-bold text-gray-900 mb-1">John Doe</h1>
        <p class="text-sm text-gray-500 mb-2">125+ followers</p>
    </div>

    <div class="mb-6">
        <p class="text-sm text-gray-600 leading-relaxed text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque soluta iusto perferendis
            asperiores, corrupti
            aliquam tenetur dolores illum quia doloribus!
        </p>
    </div>

    <div class="mb-6">
        <div class="text-center">
            <a href="www.github.com/johndoe" target="_blank"
                class="text-sm text-blue-600 hover:text-blue-800 break-all inline-flex items-center hover:underline">
                <mat-icon class="w-4 h-4 mr-1">code</mat-icon>
                www.github.com/johndoe
            </a>
        </div>
    </div>

    <div class="mb-6">
        <button
            class=" w-full min-w-32  rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button">
            Follow
        </button>
    </div>

</div>