<div data-testid="profile-card" *ngIf="profileData as profileData"
  class="flex flex-col bg-white shadow-sm border border-slate-200 rounded-lg p-6 w-full max-w-sm mx-auto">
  <div class="text-center mb-6">
    <!-- <div class="w-24 h-24 mx-auto mb-4 overflow-hidden rounded-full">
            <img class="w-full h-full object-cover" [src]="/assets/images/blog/blog-01.jpg" alt="profile" />
        </div> -->
    <h1 class="text-xl font-bold text-gray-900 mb-1">
      {{ profileData.profile.githubUsername | uppercase }}
    </h1>

    <p class="text-sm text-gray-500 mb-2">{{profileData.profile.followerList?.length}} followers</p>
  </div>

  <div class="mb-6">
    <p class="text-sm text-gray-600 leading-relaxed text-center">
      {{ profileData.profile.bio }}
    </p>
  </div>

  <div class="mb-6"></div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- GitHub -->
    <a *ngIf="getGitHubProfileUrl(profileData.profile)" [href]="getGitHubProfileUrl(profileData.profile)" target="_blank"
      class="group flex items-center justify-center p-3 bg-gradient-to-br from-gray-900 to-gray-800 text-white rounded-xl hover:from-gray-800 hover:to-gray-700 transition-all duration-200 transform hover:scale-105">
      <mat-icon svgIcon="github" class="w-4 h-4 mr-3"></mat-icon>
      <div>
        <div class="font-semibold">GitHub</div>
      </div>
    </a>

    <!-- LinkedIn -->
    <a *ngIf="getLinkedInProfileUrl(profileData.profile)" [href]="getLinkedInProfileUrl(profileData.profile)" target="_blank"
      class="group flex items-center justify-center p-3 bg-gradient-to-br from-blue-900 to-blue-800 text-white rounded-xl hover:from-blue-800 hover:to-blue-700 transition-all duration-200 transform hover:scale-105">
      <mat-icon svgIcon="linkedin" class="w-4 h-4 mr-3"></mat-icon>

      <div>
        <div class="font-semibold">LinkedIn</div>
      </div>
    </a>
  </div>

  <div class="m-6" *ngIf="!isAlreadyFollowed">
    <app-custom-button data-testid="follow-btn" (click)="onFollow(profileData.profile._id)" [buttonText]="'Follow'" [routerLink]="'/profile/public/follow'"
      [buttonClass]="
        'w-full min-w-32 bg-[#276ef1] py-2 px-4 text-center font-semibold text-white transition [box-shadow:rgb(171,_196,_245)_-8px_8px] hover:[box-shadow:rgb(171,_196,_245)_0px_0px]'
      ">
      <mat-icon>add</mat-icon>
      >
    </app-custom-button>
  </div>

  <div *ngIf="successMessage" class="mb-4 p-4 bg-green-50 border border-green-200 rounded-md success-fade-in">
  <div class="flex">
    <div class="flex-shrink-0">
      <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
          clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <div class="success-msg mt-2 text-sm text-green-700">
        {{ successMessage }}
      </div>
    </div>
  </div>
</div>

</div>
