<div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="mx-auto max-w-4xl py-18 sm:py-20 lg:py-30">
        <div class="text-center font-sans">
            <h1 class="text-4xl md:text-5xl lg:text-6xl tracking-tight text-gray-900 leading-tight mb-8">
                The mystical land between
              
                <code class="bg-slate-800 text-red-300 px-4 py-2 rounded-lg text-lg md:text-xl font-mono shadow-lg border border-slate-700 inline-flex items-center mx-2 my-2">
                    <span class="text-red-500 mr-2"><mat-icon>clear</mat-icon></span>
                    undefined is not a function
                </code>
                <br class="sm:hidden">
                <span class="text-4xl md:text-5xl lg:text-6xl">and</span>
               
                <code class="bg-slate-800 text-amber-300 px-4 py-2 rounded-lg text-lg md:text-xl font-mono shadow-lg border border-slate-700 inline-flex items-center mx-2 my-2">
                    <span class="text-amber-500 mr-2"><mat-icon>report_problem</mat-icon></span>
                    I forgot the return
                </code>
            </h1>
            
            <p class="mb-8 text-lg md:text-xl text-gray-500 leading-relaxed max-w-3xl mx-auto">
                We share code, bugs, lessons, and question our life choices
            </p>

             <span class="inline-block bg-slate-900 rounded-md px-3 py-2 mx-1 my-1 shadow-lg">
                    <br class="sm:hidden">
                    <span class="text-gray-400 font-mono text-sm">~/project$</span>
                    <app-typewriter class="inline-block"></app-typewriter>
                </span>
             

            <div class="mt-12 flex flex-col sm:flex-row items-center justify-center gap-4 sm:gap-6">
                <!-- Buttons -->
                <app-custom-button 
                    *ngIf="!isLoggedIn" 
                    [buttonText]="'Sign Up'" 
                    [routerLink]="'/auth/register'"
                    [buttonClass]="'flex items-center justify-center bg-[#276ef1] px-8 py-4 text-center font-semibold text-white transition [box-shadow:rgb(171,_196,_245)_-8px_8px] hover:[box-shadow:rgb(171,_196,_245)_0px_0px]'">
                    <mat-icon>login</mat-icon>
                </app-custom-button>

                <app-custom-button 
                    *ngIf="isLoggedIn" 
                    [buttonText]="'Start Writing'" 
                    [routerLink]="'/posts/create'"
                    [buttonClass]="'text-sm/6 font-semibold text-gray-900 hover:text-blue-600'">
                    <mat-icon>arrow_forward</mat-icon>
                </app-custom-button>
            </div>
        </div>
    </div>
</div>