<section class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-24">
  <div class="container mx-auto px-4">

    <div class="mb-14">
      <h2 class="font-manrope text-4xl font-bold text-gray-900 text-center">
        Blog Details
      </h2>
    </div>

    <!-- Blog Content - Only show when currentArticle is loaded -->
    <div data-testid="post-content" *ngIf="post$ | async as post" class="flex flex-wrap -mx-4">
      <div class="w-full lg:w-8/12 px-4">
        <!-- Featured Image -->
        <div class="relative rounded-2xl overflow-hidden mb-10 h-72 md:h-96 lg:h-120">
          <img [src]="post.postImageUrl" [alt]="post.postTitle" class="object-cover object-center rounded-2xl" />
        </div>

        <!-- Author Info -->
        <div class="flex items-center justify-between mb-8">
          <div class="flex items-center">
            <img [src]="post.avatar" [alt]="post.name" class="w-10 h-10 rounded-full mr-3" />

            <div>
              <div class="mt-4">
                <ng-container *ngIf="authorProfileId; else noProfile">
                  <button data-testid="author" type="button" (click)="navigateToAutorProfile()"
                    class="text-sm text-gray-800 hover:text-blue-600 underline focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white/20 rounded">
                    By {{ post.name | titlecase }}
                  </button>
                </ng-container>

                <ng-template #noProfile>
                  <h6 class="text-sm text-gray-500">By {{ post.name | titlecase }}</h6>
                </ng-template>
              </div>


              <span class="text-sm text-blue-600">{{
                post.createdAt | dateTimeAgo }}</span>
            </div>

          </div>
          <div class="flex items-center gap-4">

            <span data-testid="comment-count" class="flex items-center text-sm text-gray-500">
              <mat-icon class="mr-1"> chat_bubble</mat-icon>
              {{ post.comments.length || 0 }} Comments
            </span>

            <span  data-testid="view-count" class="flex items-center text-sm text-gray-500">
              <mat-icon class="mr-1">visibility</mat-icon>
              {{ post.views }} Views
            </span>

          </div>
        </div>

        <!-- Article Content -->
        <div class="mb-10">
          <h2 data-testid="title" class="font-bold text-gray-900 text-3xl sm:text-3xl md:text-4xl leading-snug mb-6">
            {{ post.postTitle | titlecase }}
          </h2>
          <p data-testid="text" class="text-base text-gray-600 leading-loose mb-8">
            {{ post.postText | sentenceUpperCase }}
          </p>

          <!-- Tags and Share Section -->
          <div class="flex flex-wrap items-center justify-between border-t border-gray-200 pt-8 mb-10">
            <div class="flex flex-wrap items-center gap-3 mb-6 md:mb-0">
              <span class="text-sm text-gray-600 font-medium">Tags:</span>
              <a data-testid="tags" *ngFor="let tag of post.postTags" href="javascript:void(0)"
                class="py-1 px-4 bg-indigo-50 text-blue-600 rounded-full text-xs font-medium hover:bg-indigo-600 hover:text-white transition-all duration-300">
                {{ tag }}
              </a>
            </div>

          </div>
        </div>
      </div>

      <!-- Sidebar -->
      <div class="w-full lg:w-4/12 px-4">
        <!-- Newsletter Subscription Box -->
        <div class="mb-10 bg-gradient-to-br from-[#1d4ed8] to-[#ABC4F5] rounded-2xl p-8 text-center shadow-xl">
          <h3 class="font-bold text-white mb-4 text-2xl tracking-tight">
            Join our newsletter!
          </h3>
          <p class="text-base text-white/90 mb-6 max-w-md mx-auto">
            Enter your email to receive our latest newsletter.
          </p>

          <app-newsletter-form></app-newsletter-form>

          <p class="text-sm font-medium text-white/80 mt-4">
            <span class="inline-flex items-center">
              <svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
              Don't worry, we don't spam
            </span>
          </p>
        </div>

        <!-- Popular Articles Section -->
        <div *ngIf="popularArticles && popularArticles.length > 0" class="mb-10">
          <h2 class="font-semibold text-gray-900 text-2xl mb-6 relative">
            Popular Articles
          </h2>

          <!-- Popular Article Entry -->
          <div data-testid="container-popular-articles" *ngFor="let article of popularArticles" (click)="navigateToArticle(article._id)"
            class="border border-gray-300 rounded-2xl p-5 mb-5 transition-all duration-300 hover:border-indigo-600 cursor-pointer">
            <div class="flex items-center mb-4">
              <img [src]="article.avatar" alt="Author" class="w-12 h-12 rounded-full mr-4" />
              <div>
                <h4 data-testid="popular-article-title" class="text-gray-900 font-medium mb-1">
                  {{ article.postTitle | titlecase }}
                </h4>
                <div class="flex items-center justify-between">
                  <h6 class="text-sm text-gray-500">{{ article.name | titlecase }}</h6>
                  <span class="text-sm text-blue-600">
                    {{ article.createdAt | date: 'dd/MM/yyyy' }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- No popular articles message -->
        <div *ngIf="!loading && (!popularArticles || popularArticles.length === 0)" class="mb-10">
          <div class="text-center my-8">
            <p data-testid="no-popular-articles" class="text-gray-500">No articles found.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Realted Articles -->
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <h2 class="font-manrope text-2xl font-bold text-gray-900 mb-10">
        Reated Articles
      </h2>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-8 mb-14">
        <app-blog-card data-testid="article-id" *ngFor="let article of relatedArticles" [article]="article"
          (click)="navigateToArticle(article._id)"
          class="group cursor-pointer border border-gray-300 rounded-2xl p-5 transition-all duration-300 hover:border-indigo-600">
        </app-blog-card>
      </div>

      <!-- No related articles message -->
      <div *ngIf="!loading && (!relatedArticles || relatedArticles.length === 0)" class="mb-10">
        <div class="text-center my-8">
          <p data-testid="no-related-articles" class="text-gray-500">No related articles found.</p>
        </div>
      </div>

    </div>

  </div>


  <app-comment-list [comments]="(post$ | async)?.comments || []" [postId]="(post$ | async)?._id || ''">
  </app-comment-list>

</section>