<h2 mat-dialog-title>{{profileData.title}}</h2>

<form [formGroup]="createProfileForm" (ngSubmit)="onSubmit()">

<mat-dialog-content>

  <mat-form-field appearance="outline">
    <input matInput formControlName="githubUsername" placeholder="Github username">
    <mat-error *ngIf="createProfileForm.get('githubUsername')?.errors?.['required']">
      Github username is required!
    </mat-error>
     <mat-error *ngIf="createProfileForm.get('githubUsername')?.errors?.['minlength']">
      Username has to be at least 2 characters long.
    </mat-error>
    <mat-error *ngIf="createProfileForm.get('githubUsername')?.errors?.['maxlength']">
      Username should be no more than 30 characters long.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input matInput formControlName="linkedin" placeholder="LinkedIn username">
   
     <mat-error *ngIf="createProfileForm.get('linkedin')?.errors?.['minlength']">
      Username has to be at least 2 characters long.
    </mat-error>
    <mat-error *ngIf="createProfileForm.get('linkedin')?.errors?.['maxlength']">
       Username should be no more than 30 characters long.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <textarea matInput formControlName="bio" placeholder="Add your bio and story" rows="6"></textarea>
    <mat-error *ngIf="createProfileForm.get('bio')?.errors?.['required']">
      Content is required
    </mat-error>
    <mat-error data-testid="error-bio-message" *ngIf="createProfileForm.get('bio')?.errors?.['maxlength']">
      Content should be no more than 300 characters long.
    </mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button data-testid="cancel-btn" mat-cancel-button (click)="onCancel()">Cancel</button>
  <button data-testid="submit-btn" mat-raised-button color="primary" [disabled]="!createProfileForm.valid">
    Submit
  </button>
</mat-dialog-actions>

</form>